# {{ ansible_managed }}
name: {% if is_deply_ci %}JAVA_CI_DEPLOY{% else %}JAVA_CI{% endif %}

on:
  workflow_dispatch:
    branches: {{ item.branches }}
{% if is_deply_ci %}
  schedule:
    - cron: "0 {{ item_index + 1 }} * * *"
{% else %}
  push:
    branches: {{ item.branches }}
  pull_request:
    branches: {{ item.branches }}
{% endif %}
{% if is_deply_ci %}

env:
  SPRING_PROFILE: ci
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
{% endif %}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
{% if item.jdk %}
      - name: Set up JDK {{ item.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: {{ item.jdk }}
{% if item.setup is defined %}
{% for setup in item.setup %}
      - name: {{ setup.name }}
        run: {{ setup.cmd }}
{% endfor %}
{% endif %}
      - name: Maven compile and update dependencies
        run: |
          ./mvnw -B -N io.takari:maven:wrapper
          ./mvnw -B -q versions:update-properties -DgenerateBackupPoms=false
          ./mvnw -B -q clean verify -Dmaven.test.skip=true
      - name: Run tests
        run: ./mvnw -B clean verify
{%- endif %}
{% raw %}
      - name: Publish code quality
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
          JACOCO_SOURCE_PATH: "${{github.workspace}}/src/main/java"
        with:
          coverageLocations: ${{github.workspace}}/target/site/jacoco/jacoco.xml:jacoco
      - name: Tag and Push
        run: |
          echo "Current dir $(pwd)
          wget -nc https://raw.githubusercontent.com/YunaBraska/YunaBraska/main/.github/scripts/versions.sh -P .github/scripts
          wget -nc https://raw.githubusercontent.com/YunaBraska/YunaBraska/main/.github/scripts/push_changes.sh -P .github/scripts
          wget -nc https://raw.githubusercontent.com/YunaBraska/YunaBraska/main/.github/scripts/increment_version.sh -P .github/scripts
          chmod +x .github/scripts/versions.sh .github/scripts/push_changes.sh .github/scripts/increment_version.sh
          echo "ls -lsah .github/scripts"
          .github/scripts/push_changes.sh "https://x-access-token:${{ secrets.CI_TOKEN }}@github.com/${{ github.repository }}"
{%- endraw %}
{% if is_deply_ci %}
{% raw %}
      - name: "Check if branch exists"
        run: |
          git fetch origin release:release &>/dev/null || true
          if git rev-parse --verify "release" &>/dev/null; then echo "::set-env name=HAS_RELEASE_BRANCH::true"; fi
      - name: Import GPG key
        if: env.HAS_RELEASE_BRANCH == 'true'
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Set up Maven Central Repository
        if: env.HAS_RELEASE_BRANCH == 'true'
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Publish package
        if: env.HAS_RELEASE_BRANCH == 'true'
        run: mvn -B clean deploy -P release -Dmaven.test.skip=true -Dgpg.passphrase="${{ secrets.GPG_PASSPHRASE }}"
        env:
          MAVEN_USERNAME: ${{ secrets.OSSH_USER }}
          MAVEN_PASSWORD: ${{ secrets.OSSH_PASS }}
      - name: "Remove release branch"
        run: |
          git push --delete origin release &>/dev/null || true
{% endraw %}
{% endif %}
